In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.read_csv('../../input/melbourne_housing_snapshot/melb_data.csv')

y = data.Price

X = data.drop(['Price'], axis=1)

X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y,
                                                          train_size=0.8, test_size=0.2)

categorical_columns = [col for col in X_train.columns if X_train[col].nunique() < 10 
                       and X_train[col].dtype == 'object']
numerical_columns = [col for col in X_train.columns if X_train[col].dtype in ['int64', 'float64']]

my_cols = categorical_columns + numerical_columns

X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

In [28]:
X_train.head()

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
10819,u,S,Southern Metropolitan,2,2.7,3141.0,2.0,1.0,1.0,17200.0,79.0,2003.0,-37.83613,144.99661,14887.0
10540,u,S,Northern Metropolitan,2,7.0,3071.0,2.0,1.0,1.0,120.0,70.0,1975.0,-37.75668,145.00929,8870.0
293,h,SP,Western Metropolitan,2,5.9,3032.0,2.0,1.0,1.0,226.0,92.0,1920.0,-37.77450,144.90930,6567.0
6866,u,S,Northern Metropolitan,2,1.5,3002.0,0.0,0.0,0.0,0.0,NaN,NaN,-37.81540,144.98510,3040.0
1018,h,SA,Western Metropolitan,4,10.8,3019.0,4.0,2.0,2.0,606.0,240.0,2002.0,-37.78800,144.86200,3589.0